{% extends 'base.html.twig' %}

{% block title %}Task List{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success mt-3" role="alert">
        {{ message }}
    </div>
{% endfor %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nr.</th>
      <th scope="col">Task</th>
      <th scope="col">Description</th>
    <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ post.task }}</td>
        <td>{{ post.description }}</td>
        <td>
            <a href="{{ path('edit-task', {id: post.id}) }}" class="btn btn-success btn-sm mr-2">Edit</a>
            <a href="" class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>
    </tr>
    {% endfor %}

  </tbody>
</table>
<a href="{{ path('add-task') }}" class="btn btn-primary btn-sm mt-3">Add Task</a>

{% endblock %}